*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
    size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.logo  {
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content h1{
    color: white;
    margin-top: 100px;
}
.content ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.content ul li a{
    text-decoration: none;
    color: white;
}
.checkbox{
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
}
.checkbox__box{
    margin-left: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}
.btn1{
    width: 300px;
    height: 50px;
    border: none;
    color: rgb(20, 29, 20);
    background-color: orange;
    border-radius: 6px;
    box-shadow: inset 0 0 0 0 rgb(128, 197, 81);
    transition: ease-out 0.3s;
    outline: none;
    font-weight: bold;
    color: black;
}
.btn1:hover{
    box-shadow: inset 300px 0 0 0 rgb(128, 197, 81);
    cursor: pointer;
    color: white;
    
}